<table class="table table-hover">
  <thead>
    <tr>
      <td>User Name</td>
      <td>Email</td>
      <td>Phone Number</td>
      <td colspan=2>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userName }}</td>
      <td>{{ user.userEmail }}</td>
      <td>{{ user.userPhone }}</td>
      <td>
        <a [routerLink]="[ '/edit', user._id ]"
        class="btn btn-primary">Edit</a>
      </td>
      <td>
        <a (click)="deleteUser(user._id)" routerLink='/user'>Delete</a>
      </td>
    </tr>
  </tbody>
</table>