<h4 class="last_adverts_title">Dernières Annonces</h4>
<ul class="last_adverts_menu">
    {% for advert in listAdverts %}
        <li class="last_adverts_menu_item">
            <a class="last_adverts_menu_link" href="{{ path('advert_view', {'id' : advert.id}) }}">
                {{ advert.title }}
            </a>
        </li>
    {% endfor %}
</ul>