{% extends "layout.html.twig" %}

{% block title %}{{ advert.title }} - Editer {% endblock %}

{% block body %}
    <h2>Editer "{{ advert.title }}"</h2>
    {{ include("Advert/_form.html.twig") }}

    <a href="{{ path('advert_view', {'id': advert.id}) }}">
        Retour à l'annonce
    </a>
{% endblock %}