﻿{% extends "layout.html.twig" %}
{% block title %}
    {{ parent() }}
    - Index{% endblock %}
{% block body %}
    <div class="index_container">
        {% for message in app.flashes('info') %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <h2 class="index_title">Liste des annonces
        </h2>
        <div class="index_list">
            {% for advert in listAdverts %}
                <div class="index_advert">
                    <a class="index_advert_link" href="{{ path('advert_view', {'id': advert.id}) }}">
                        {{ advert.title }}
                    </a>
                    <em class="index_advert_author" >Par {{ advert.author }} le {{ advert.date|date('d/m/Y') }}</em>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}