{% extends 'layout.html.twig' %}

{% block title %}
    {{ advert.title }}
{% endblock %}

{% block body %}
        {% for message in app.flashes('info') %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
        {% endfor %}
        <h2 class="view_title" >{{ advert.title }}</h2>
        <em class="view_author" >Par {{ advert.author }} le {{ advert.date|date('d/m/Y') }}</em>
        
        <div class="view_content">
            <img src="{{ absolute_url(asset('uploads/images/')) }}{{ advert.image }}">
            {# pour une image stockée dans le dossier public <img src="{{ absolute_url(asset('icelang.jpg')) }}"> #}
            {{ advert.content }}
        </div>
        {% if ((is_granted('IS_AUTHENTICATED_REMEMBERED')) and (app.user.username == advert.author)) or is_granted('ROLE_ADMIN') %}
        <div class="view_options">
        <a href="{{ path('advert_edit', {'id': advert.id}) }}">Editer</a>
        <a href="{{ path('advert_delete', {'id': advert.id}) }}">Supprimer</a>
        </div>
        {% endif %}

{% endblock %}