*, html {
    margin: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
    color:whitesmoke;

    font-family: 'Raleway', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

ul li {
    margin: 20px;
    padding: 5px;

    display: flex;
    justify-content: space-between;

    box-shadow: 0px 2px 2px #623AA2;

    animation: slide-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
li > button {
    border: none;
    border-radius: 1px;
    padding: 15px;

    background-position: center;
    transition: background 0.8s;
}
li > button:nth-child(1){
    background-color: #32CCBC;
    color: white;
}
li > button:hover {
    cursor: pointer;
    background: rgb(55, 192, 178) radial-gradient(circle, transparent 1%, rgb(55, 192, 178)  1%) center/15000%;
}

li > button:active{
    background-color: rgb(160, 241, 233);
    background-size: 100%;
    transition: background Os;
}



li > button:nth-child(2){
    background-color: #F05F57; 
    color: white;
}

.slide-out{
    animation: slide-out 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100px)
    }
}