/* You can add global styles to this file, and also import other style files */
body {
    color: #212121;
    font-family: 'Raleway', Helvetica, sans-serif;
    background: linear-gradient(whitesmoke, white);
}

a {
    text-decoration: none;
    color: #212121;
}