body {
    background-color: bisque;
}

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-grid-container li {
    list-style-type: none;
}

.gallery-grid-container li:nth-of-type(1) {

}



.gallery-grid-container .pic  img {
    max-width: 25%;
    height: 100%;
    width: 100%;
}