.container {
    display: flex;
    flex-direction :column;
}
.message_container {
    height: 500px;
    width : 80%;
    background-color :#bbdefb;
    overflow: auto;
}
.message_list{
    list-style-type: none;
}

.message_list li:before {
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.message_list li:nth-child(even) {
    background-color : #e3f2fd;
}

.message_list li:nth-child(odd) {
    background-color: #90caf9;
    
}

.message_list li:nth-child(even) .pseudo {
    background-color : #e3f2fd;
    color: green;
}

.message_list li:nth-child(odd) .pseudo {
    background-color: #90caf9;
    color: red;
}


.message_list li .pseudo {
    font-weight: bold;
}
