{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>creation d'un nouvel article </h1>


{% if app.user %}
{{ form_start(formArticle) }}
{{ form_row(formArticle.title, {'attr': {'placeholder':"titre de l'article"}}) }}
{{ form_row(formArticle.category) }}
{{ form_row(formArticle.content, {'attr': {'placeholder':"Contenu de l'article"}}) }}
{{ form_row(formArticle.image, {'attr': {'placeholder':"Url de l'image"}}) }}
<button type="submit" class="btn btn-success">

{% if editMode %}
Modifier l'article
{% else %}
Ajouter l'article 
{% endif %}



</button>
{{ form_end(formArticle) }}
{% else %}
<h2> Vous ne pouvez pas ecrire d'article  si vous n'etes pas inscrit! </h2>
<a href="{{ path('security_registration') }}" class= "btn btn-primary"> Inscription </a>
{% endif %}
{% endblock %}