html{
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

body {
    background-color : #42a5f5;
}

.blog_title {
    color: #ff6f00;
    text-shadow: #ffca28 1px 0 10px ;
}

.article {
    padding: 5px;
    background-color: white;
    box-shadow: black 1px 0 10px;
}
.article:not(:last-child) {
    margin-bottom: 15px;
}

.article ul {
    list-style-type: none;
}

.article .article_title {
    font-size : larger;
    color: #ffd54f;
}

.article .article_title a {
    text-decoration: none;
}

.article .date {
    color : grey;
}

.article .article_content {
    font-size: large;
}

.article .article_comments {
    font-size: small;
}