body {
    font-family: 'Montserrat', sans-serif;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    min-height: 0;
    min-width: 0;
}


body > .header {
    background-color: lightcoral;
    color: white;

    grid-column-start: span 3;
}

body > .sidebar{
    background-color: lightblue;
    grid-row-start: span 2;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
}


body > .layout_content > .index_container {
    display: flex;
    flex-direction: column;
}

body > .layout_content > .index_container > .index_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

body > .layout_content > .index_container > .index_title {
    text-align: center;
}

body > .layout_content > .index_container > .index_list > .index_advert {
    margin: 5px;
    padding: 10px;
    background-color: aquamarine;
}

body > .layout_content > .index_container > .index_list > .index_advert a{
    color: white;
}

.last_adverts_menu {
    padding: 20px;
}

.last_adverts_menu_item {
    padding: 5px;
}

.last_adverts_menu_item > a{
    color: white;
    word-wrap: break-word;
}

.layout_content > * {
    margin: 15px;
}

body > .layout_content{
    background-color: lightseagreen;
    
    grid-column-start: span 2;
    grid-row-start: span 2;

    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.view_content {
    background-color: aliceblue;
    flex: 2 1 auto;
    word-wrap: break-word;
    padding: 10px;
}

.view_options > a{
    background-color: lightsalmon;
    padding: 10px;
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.view_options > a:hover{
    background-color: rgb(253, 188, 162);
    color: white;
}


.header_main_title {
    font-size: 5em;
}