<div class="gameContainer">
  <div class="row" *ngFor="let row of gameGrid; let i = index">
    <div [class.snake]="isSnake(i,j)" class="column" *ngFor="let column of row; let j = index">

    </div>
  </div>
</div>