#carousel {
    width: 100%;
    height: 600px;
    position: relative;
}

.carousel-image {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
    
    opacity: 0;
    animation: slider-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-size: cover;
}

#image2 {
    animation-delay: 5s;
}

#image3 {
    animation-delay: 10s;
}

#image4 {
    animation-delay: 15s;
}

#image5 {
    animation-delay: 20s;
}

#image6 {
    animation-delay: 25s;
}

@keyframes slider-animation {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}