<div id="carousel">
  <figure><img id="image1" class="carousel-image" src="assets/img/image1.jpg" alt=""></figure>
  <figure><img id="image2" class="carousel-image" src="assets/img/image2.jpg" alt=""></figure>
  <figure><img id="image3" class="carousel-image" src="assets/img/image3.jpg" alt=""></figure>
  <figure><img id="image4" class="carousel-image" src="assets/img/image4.jpg" alt=""></figure>
  <figure><img id="image5" class="carousel-image" src="assets/img/image5.jpg" alt=""></figure>
  <figure><img id="image6" class="carousel-image" src="assets/img/image6.jpg" alt=""></figure>
</div>