<h2>My Movies</h2>

<div>
  <label>
    Title
    <input #movieTitle>
  </label>
  <label>
    Year
    <input type="number" #movieYear>
  </label>
  <button (click)="add(movieTitle.value, movieYear.value)">Add</button>
</div>

<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="info">{{movie.id}}</span> {{movie.title}}, {{movie.year}}
    </a>
    <button class="delete" title="delete movie" (click)="delete(movie)">X</button>
  </li>
</ul>