/* moviesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.movies {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
}

.movies li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.movies li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.movies li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.movies a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
}

.movies a:hover {
    color: #607D8B;
}

.movies .text {
    position: relative;
    top: -3px;
}

.movies .info {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover { 
    background-color: #CFD8DC;
}

button.delete {
    position: relative;
    left: 390px;
    top: -32px;
    background-color: gray !important;
    color: white;
}