<div id="search-component">
  <h4>Movie Search</h4>
  <input #searchBox (input)="search(searchBox.value)" id="search-box">
  <ul class="search-result">
    <li *ngFor="let movie of movies$ | async">
      <a routerLink="/detail/{{movie.id}}">
        {{movie.title}}
      </a>
    </li>
  </ul>
</div>