<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="user/create" class="nav-link">
          Create User
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="user" class="nav-link">
          User
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
