h1{
    font-family: 'Libre Barcode 128 Text', cursive;
}


.round-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


/** faire une carte qui se retourne **/

.flip-card{
    width: 250px;
    height: 200px;
    background-color:transparent;
    border: 1px solid black;
}

.flip-card-in{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card-in:active{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.flip-card-front{
    background-color: black;
    color: white;
}

.flip-card-back{
    background-color: aqua;
    transform: rotateY(180deg);
}


/** Animation rebond **/
/** on établit les réglages de l'animation **/
@keyframes rebond{
    /** la position de départ est à 0 **/
    from{ transform: translate3D(0,0,0);}
    /** la position d'arrivée est un décalage de 200px en y **/
    to{ transform: translate3D(0,200px, 0)}
}

.round-img:active{
    /** on appelle l'animation **/
    /** la fonction cubique de bezier permet de contrôler 
    l'intensité de l'animation au fur et a mesure de l'animation **/
    animation: rebond 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


/** carousel CSS **/
.carousel-container{
    background-color: aqua;
    width: 300px;
    height: 100px;
    position: relative;
    overflow:hidden;
}

.carousel{
    /** change en fonction du nombre d'éléments**/
    width: 500%;
    animation: carousel-css 20s linear infinite;
}

.carousel p{
    display: inline-block;
    width: 300px;
    height: 100px;
}

/** aligne les elements a gauche donc dans le carousel **/
.carousel p:not(:first-child){
    float: left;
}

/** possède 1 étape par élément du carousel, + 1 étape de fin 
qui permet au carousel de se remettre à 0 
on décale les %ages de 2%
 pour laisser assez de %age pour finir la boucle**/
@keyframes carousel-css{
    0%, 23% {margin-left: 0;}
    25%, 48% {margin-left: -100%;}
    50%, 73% {margin-left: -200%;}
    75%, 98% {margin-left: -300%;}
    100% {margin-left: 0;}
}