html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #558b2f;
    position: relative;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
}
h3{
    font-size: large;
}

.charm-cursive{
    font-family: 'Charm', cursive;
}

header{
    color: white;
    background-color: #81d4fa;
    padding-left: 5px;
    text-shadow: -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    width: 100%;
    height: 150px;
    position: relative;
    top: -43px;
}

main{
    width: 90%;
    height: 100%;
    background: url("../img/image.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 1px;
}

.name{
    font-size: 4em;
}

nav{
    text-align: center;
}

nav ul{
    display: block;
    list-style: none;
    background-color: green;
}

nav ul li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: orange;
}

nav ul li a{
    text-decoration: none;
    margin: 5px;
}

nav ul li a:visited{
    color: black;
}

nav ul li a:hover{
    text-decoration: underline;
    color: rgb(42, 42, 42);
}

nav ul li:nth-of-type(3) a{
    background-color: #fffb00;
}

nav ul li:first-of-type{
    margin-left: -1.4em;
}

ul li:hover{
    color: rgb(65, 65, 65);
}

section h2{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}

.logo-block{
    position: relative;
    top: -155px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.logo{
    float: right;
    width: auto;
    height: 100%;
}

#parcours ul{
    text-align: center;
}

#parcours ul div.line{
    background-color: #000;
    margin: 0 auto;
    width: 2px;
    height: 50px;
    line-height: 50px;
}

#parcours ul div.triangle{
    background-color: #000;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid black;
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-grid figure{
    
    width: 350px;
    height: 250px;
    margin-bottom: 30px;
}

.image-grid figure figcaption{
    width: 100%;
    height: auto;
}
