<div class="grid-container">
    <header>
        <figure id="logo">
            <img src="//via.placeholder.com/150x50" alt="logo">
        </figure>

        <div id="search">
            <input type="text" id="search-input" name="search-input">
        </div>

        <div id="client-zone">
            <div>Connexion</div>
            <div>Panier</div>
        </div>
    </header>
    <nav>
        <div id="categories">
            <div class="cat-link">
                <a href="" id="cat-homme">Homme</a>

                <div class="cat-hidden">
                    <div class="hidden-menu menu-homme">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aliquam atque libero ab!
                            Deleniti non ipsam harum expedita veniam. Quam ipsa fugiat magni. Quaerat odio possimus
                            porro, enim suscipit ad.</p>
                    </div>
                </div>
            </div>
            <div class="cat-link">
                <a href="" id="cat-femme">Femme</a>

                <div class="cat-hidden">
                    <div class="hidden-menu menu-femme">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint explicabo odit tempora rem
                            eligendi. Nemo exercitationem possimus libero, sint atque aliquam facilis animi perferendis
                            quos rem odit excepturi. Voluptatibus, fugiat?</p>
                    </div>
                </div>
            </div>
            <div class="cat-link">

                <a href="" id="cat-enfant">Enfant</a>
                <div class="cat-hidden">
                    <div class="hidden-menu menu-enfant">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae fugit consequuntur
                            veritatis cumque maiores? Aliquid, quaerat animi pariatur, magni libero aliquam impedit esse
                            at minus incidunt quae laboriosam facere?</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>