.grid-container {
    display: grid;
    grid-template-rows: 150px 150px 1fr;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#client-zone {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#categories {
    display: flex;
    justify-content: space-around;
    height: 250px;
}

main {
    width: 100%;
    background-color: white;
}

.cat-hidden {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    min-width: 100%;
    height: 350px;
}

.cat-link:hover .cat-hidden{
    display: block;
}

.hidden-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden-menu > * {
    width: 80%;
}