<input type="password" value="{{password}}" (keydown)="keydown()">
<div class="keypad">
  <div 
  [class.inactive]="!slot"
  *ngFor="let slot of grid" 
  (click)="clic($event)">{{ slot }}</div>
</div>
<div class="control">
  <div class="correct" (click)="correct()">
    C
  </div>
  <div class="clear" (click)="clear()">
    X
  </div>
  <div class="confirm">
    V
  </div>
</div>