.keypad{
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
}

.keypad > div {
    background-color: aqua;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

.keypad > div.inactive {
    cursor: default;
}

.control {
    display: flex;
    justify-content: space-around;
    width: 215px;
    height: 50px;
}

.control > div {
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: inset 0 0 0  5px white; 
    cursor: pointer;

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

.correct {
    background-color: yellow;
}

.confirm {
    background-color: aquamarine;
}

.clear {
    background-color: crimson;
}