<div class="card">
  <div class="card-body">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label class="col-md-4">Username</label>
        <input type="text" class="form-control" 
        formControlName="userName" #userName>
      </div>

      <div *ngIf="formGroup.controls['userName'].errors?.required && (formGroup.controls['userName'].touched)" 
      class="alert alert-danger" >
        Username is required
      </div>

      <div class="form-group">
        <label class="col-md-4">Email</label>
        <input type="text" class="form-control"
        formControlName="userEmail" #userEmail>
      </div>

      <div *ngIf="formGroup.controls['userEmail'].errors?.required && formGroup.controls['userEmail'].touched" 
      class="alert alert-danger" >
        Email is required
      </div>

      <div *ngIf="formGroup.controls['userEmail'].errors?.email && formGroup.controls['userEmail'].touched" 
      class="alert alert-danger" >
        Email is invalid
      </div>

      <div class="form-group">
        <label class="col-md-4">Phone Number</label>
        <input type="text" class="form-control"
        formControlName="userPhone" #userPhone>
      </div>

      <div *ngIf="formGroup.controls['userPhone'].errors?.required && formGroup.controls['userPhone'].touched"pattern
      class="alert alert-danger" >
        Phone number is required
      </div>

      <div *ngIf="formGroup.controls['userPhone'].errors?.pattern && formGroup.controls['userPhone'].touched"pattern
      class="alert alert-danger" >
        Phone number is invalid
      </div>

      <div class="form-group">
        <button class="btn btn-primary"
        [disabled]="formGroup.pristine || formGroup.invalid"
        (click)="addUser(userName.value, userEmail.value, userPhone.value);" routerLink="/user">Add User</button>
      </div>

      <div *ngIf="formGroup.pristine" class="alert alert-info">
        Please fill out the form
      </div>
    </form>
  </div>
</div>