{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Accueil
{% endblock %}

{% block body %}
    <div class="gallery-grid-container">
        {% for pic in pictures %}
            <div class="pic">
                <ul>
                    <li>
                        <h3>{{ pic.name }}</h3>
                    </li>
                    <li>
                        <p>{{ pic.description }}</p>
                    </li>
                    <li>
                    <a href="{{ absolute_url(asset('uploads/img/')) }}{{ pic.path }}">
                        <img src="{{ absolute_url(asset('uploads/img/')) }}{{ pic.path }} ">
                    </a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
