.soundboard {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(7, 50px);
}

.sound input {
    display: none;
}

.sound label {
    display: block;
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.sound label.active {
    background-color: aquamarine;
}