<div class="soundboard">
    <div *ngFor="let name of names" class="name">
      {{name}}
    </div>
  <div class="sound" *ngFor="let note of notes; let i = index">
      <input type="checkbox" id="{{note[1]}}" [(ngModel)]="boardNote[i]"> 
      <label [class.active]="boardNote[i]" for="{{note[1]}}">{{note[1]}}</label>
  </div>
</div>
{{boardNote|json}}
<button (click)="playSequence()">Test</button>