*, html {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 60vh;
}

.img-container {
    color:white;
    height: 100%;
    background-image: url(gaetan-meyer-1241604-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    width: 50%;
    margin : 0 auto;
}

.text-container h1 {
    font-size: 6em;
    font-weight: 600;
}

.text-container h6{
    font-weight: 400;
}

.top-bar {
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    
    display: flex;
    justify-content: flex-end;
}

.bar-item {
    color: white;
    margin: 20px;
    text-decoration: none;
}

.bar-item:hover{
    color: rgb(220, 220, 220);
}


.bar-item:first-child{
    margin-right: auto;
    margin-left: 0;
}

.button-item {
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}




nav {
    height: 100vh;
    position: absolute;
    width: 5%;

    background-color: white;
    z-index: 1;

    transition: width 0.5s cubic-bezier(0.86, 0, 0.07, 1);

    overflow: hidden;
}

nav::after {
    content: "";
    background-color: whitesmoke;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
}

nav.unfold {
    width: 40%;
}



.nav-content{
    height: 100%;
    width: 30vh;
    margin: 3vw 8vw;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c c";

    transition: margin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.content-unfold {
    margin: 3vw 7vw;   
}

.nav-content-container a{
    color: rgb(40, 40, 40);
    text-decoration: none;
}

.nav-content-container1{
    grid-area: a;

    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}


.nav-content-container1 a{
    margin: 25px 0;
}

.nav-content-container2{
    grid-area: b;

    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.6em;
}

.nav-content-container2 a {
    margin: 26px 0;
}



.nav-content-container3{
    grid-area: c;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.nav-content-container3 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-content-container3 a {
    font-weight: 200;
}

.nav-content-container3 h5 {
    font-weight: 600;
}