/*
    clair: #f3e4e1
    vert1: #0e927d
    vert2: #58bf94
*/

*, html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "a b"
    "a b"
    "a b"
    "a c"
    "a c"
    "d e"
    ;
}



.cell1{
    grid-area: a;
    background-color: #f3e4e1;
    color: #0e927d;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    font-weight: bolder;
}

.cell1 span:nth-child(1){
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: -30px;
    margin-left: -30px;
    font-style: italic;
}

.cell1 span:nth-child(2){
    
    font-size: 3.6em;
    font-family: 'Playfair Display', serif;
}

.cell1 span:nth-child(3){
    font-size: 0.8em;
    letter-spacing: 0.4em;
}

.cell2{
    grid-area: b;
    background-color: #0e927d;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 100%;
}

nav > ul {
    padding: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav li {
    text-align: center;
    margin: 15px;
    padding: 5px;
    box-shadow: 0px 2px 2px #0d806c;
    transition: all 0.1s;
}

nav li:nth-child(3){
    box-shadow: none;
}



nav li img {
    width: 60%;
}

nav li:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 15px #0d806c;
}

nav li:nth-child(3):hover {
    transform: none;
    box-shadow: none;   
}

nav a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
}


.cell3{
    grid-area: c;
    background-color: #58bf94;
    
    color: white;

    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    font-size: 2em;
    font-weight: bold;
}

.cell3 span:nth-child(1){
    font-weight: 500;
}


.cell3 span:nth-child(2){
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}


.cell3 span:nth-child(3){
    font-family: 'Great Vibes', cursive;
}

.cell4{
    grid-area: e;
    background-color: #58bf94;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell4 span {
    border-bottom: 1px solid white;
    padding: 2px 10px;

}

.cell4 span:nth-child(1){
    border-right: 1px solid white;
}

.cell5{
    grid-area: d;
    background-color: #d6e38b;
    background-image: url(image.png);
    background-size: cover;
}

.page{
    height: 100vh;
    background-color: #58bf94;
    background-image: url(image.png);
    background-repeat: repeat-x;
    padding: 10px 30px;
    color: rgb(40, 40, 40);
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1{
    position: relative;
    margin-top: -10px;
}

.page-container > .text-container {
    width: 60%;
    padding: 15px;
}

.page1 > .page-container{
    background-color: #f3e4e1;
    height: 100%;
}

.page2 > .page-container{
    background-color: #f3e4e1;
    height: 100%;
}

.page-container h1 {
    color: #0e927d;
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: bolder;
}

.page-container h3 {
    font-weight: bolder;
}

.page-container p {
    line-height: 25px;
}


.go-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.go-top a {
    color: #58bf94;
}