body {
    color: #212121;
    font-family: 'Raleway', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #212121;
}

.grid-container {
    display: grid;
    grid-template-rows: 150px 150px 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.categories {
    display: flex;
    justify-content: space-around;
}


.carousel {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    max-width: 1000px;
    overflow: hidden;
}

.carousel>div {
    position: relative;
    width: 500%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 15s slide infinite;
    overflow: hidden;
}

.carousel>div>img {
    width: 20%;
    height: auto;
    float: left;
}


@keyframes slide {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }
}

.hidden-menu{
    display: none;
}